<section class="section " id="clup-rancing">
  <div class="container ">
      <a href="#">
          <div class="banner  w-100 h-50 position-relative">
              <img src="assets/images/news-lg-2.png" alt="" class="banner_bg ">
              <p class="banner_tag">FootBall</p>
              <div class="banner_content">
                  <p class="banner_date">Debits - 03 june 2023</p>
                  <h1 class="banner_title">DISCOVER THE MEMBER <br>
                      Discover your favorite player!</h1>
                  <p>. <br>
                      Hic eum unde iusto quas nobis,</p>


              </div>
          </div>
      </a>

  </div>
</section>

<section class="section1" id="trending-news">
  <div class="container trending mx-auto p-5">
      <h2 class="trending_title">Trending News</h2>
      <div class="row gx-5">

          <div class="col w-75">
              <a href="#" class="text-decoration-none text-reset" aria-label="Link to trending news about Race98">
                  <div class="trending_news_card_s d-flex">
                      <img src="assets/images/news-3.png" alt="6-Year-old Horse Dies at Belmont Park After Race Injury" class="trending_news_s_img w-90">
                      <div class="trending_news_s_content">
                          <p class="trending_news_s_date">Race98 - 03 June 2023</p>
                          <h3 class="trending_news_s_title">6-Year-old Horse Dies at Belmont Park After Race Injury</h3>
                          <p class="trending_news_s_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem modi cum a.</p>
                      </div>
                  </div>
              </a>

              <a href="#" class="text-decoration-none text-reset" aria-label="Link to trending news about Race98">
                  <div class="trending_news_card_s d-flex">
                      <img src="assets/images/news-6.png" alt="6-Year-old Horse Dies at Belmont Park After Race Injury" class="trending_news_s_img w-90">
                      <div class="trending_news_s_content">
                          <p class="trending_news_s_date">Race98 - 03 June 2023</p>
                          <h3 class="trending_news_s_title">6-Year-old Horse Dies at Belmont Park After Race Injury</h3>
                          <p class="trending_news_s_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem modi cum a.</p>
                      </div>
                  </div>
              </a>

              <a href="#" class="text-decoration-none text-reset" aria-label="Link to trending news about Race98">
                  <div class="trending_news_card_s d-flex">
                      <img src="assets/images/news-5.png" alt="6-Year-old Horse Dies at Belmont Park After Race Injury" class="trending_news_s_img w-90">
                      <div class="trending_news_s_content">
                          <p class="trending_news_s_date">Race98 - 03 June 2023</p>
                          <h3 class="trending_news_s_title">6-Year-old Horse Dies at Belmont Park After Race Injury</h3>
                          <p class="trending_news_s_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem modi cum a.</p>
                      </div>
                  </div>
              </a>
          </div>

          <div class="news_lgg col  position-relative">
              <a href="#" class="text-decoration-none text-reset" aria-label="Link to trending large news">
                  <img src="assets/images/news-lg-1.png" alt="Discover the Member Benefits of USA Cycling" class="news_lg_img  ">
                  <div class="news_lg_content">
                      <p class="news_lg_date">Debits - 03 June 2023</p>
                      <h1 class="news_lg_title">DISCOVER THE MEMBER BENEFITS OF USA CYCLING!</h1>
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>


