
<div class="container">
  <div class="row g-3 ">
    <div class="col-md-4  ">
      <div class="card rounded rounded-3 bg-main border-0 ">

        <div class="card-body">
          <h5 class="card-title">top scorer</h5>
        </div>

          <div class="bg-main  p-4  rounded rounded-3">
            <ul class="p-0 m-0  rounded rounded-3 ">

            <li class=" border-bottom border-1 border-dark-subtle bg-transparent   d-flex justify-content-between">
              <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
              <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
              <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
              <div class="bg-danger my-2 p-1 rounded-circle">25</div>
            </li>
            <li class=" border-bottom border-1 border-dark-subtle  d-flex justify-content-between pt-1 ">
              <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
              <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
              <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
              <div class="bg-danger my-2 p-1 rounded-circle">25</div>
            </li>
            <li class="  d-flex justify-content-between pt-1 ">
              <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
              <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
              <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
              <div class="bg-danger my-2 p-1 rounded-circle">25</div>
            </li>

          </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4  ">
        <div class="card rounded rounded-3 bg-main border-0 ">

          <div class="card-body">
            <h5 class="card-title">top scorer</h5>
          </div>

            <div class="bg-main  p-4  rounded rounded-3">
              <ul class="p-0 m-0  rounded rounded-3 ">

              <li class=" border-bottom border-1 border-dark-subtle bg-transparent   d-flex justify-content-between">
                <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                <div class="bg-danger my-2 p-1 rounded-circle">25</div>
              </li>
              <li class=" border-bottom border-1 border-dark-subtle  d-flex justify-content-between pt-1 ">
                <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                <div class="bg-danger my-2 p-1 rounded-circle">25</div>
              </li>
              <li class="  d-flex justify-content-between pt-1 ">
                <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                <div class="bg-danger my-2 p-1 rounded-circle">25</div>
              </li>

            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4  ">
          <div class="card rounded rounded-3 bg-main border-0 ">

            <div class="card-body">
              <h5 class="card-title">top scorer</h5>
            </div>

              <div class="bg-main  p-4  rounded rounded-3">
                <ul class="p-0 m-0  rounded rounded-3 ">

                <li class=" border-bottom border-1 border-dark-subtle bg-transparent   d-flex justify-content-between">
                  <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                  <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                  <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                  <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                </li>
                <li class=" border-bottom border-1 border-dark-subtle  d-flex justify-content-between pt-1 ">
                  <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                  <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                  <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                  <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                </li>
                <li class="  d-flex justify-content-between pt-1 ">
                  <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                  <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                  <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                  <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                </li>

              </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4  ">
            <div class="card rounded rounded-3 bg-main border-0 ">

              <div class="card-body">
                <h5 class="card-title">top scorer</h5>
              </div>

                <div class="bg-main  p-4  rounded rounded-3">
                  <ul class="p-0 m-0  rounded rounded-3 ">

                  <li class=" border-bottom border-1 border-dark-subtle bg-transparent   d-flex justify-content-between">
                    <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                    <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                    <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                    <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                  </li>
                  <li class=" border-bottom border-1 border-dark-subtle  d-flex justify-content-between pt-1 ">
                    <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                    <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                    <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                    <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                  </li>
                  <li class="  d-flex justify-content-between pt-1 ">
                    <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                    <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                    <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                    <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                  </li>

                </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4  ">
              <div class="card rounded rounded-3 bg-main border-0 ">

                <div class="card-body">
                  <h5 class="card-title">top scorer</h5>
                </div>

                  <div class="bg-main  p-4  rounded rounded-3">
                    <ul class="p-0 m-0  rounded rounded-3 ">

                    <li class=" border-bottom border-1 border-dark-subtle bg-transparent   d-flex justify-content-between">
                      <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                      <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                      <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                      <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                    </li>
                    <li class=" border-bottom border-1 border-dark-subtle  d-flex justify-content-between pt-1 ">
                      <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                      <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                      <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                      <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                    </li>
                    <li class="  d-flex justify-content-between pt-1 ">
                      <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                      <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                      <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                      <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                    </li>

                  </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4  ">
                <div class="card rounded rounded-3 bg-main border-0 ">

                  <div class="card-body">
                    <h5 class="card-title">top scorer</h5>
                  </div>

                    <div class="bg-main  p-4  rounded rounded-3">
                      <ul class="p-0 m-0  rounded rounded-3 ">

                      <li class=" border-bottom border-1 border-dark-subtle bg-transparent   d-flex justify-content-between">
                        <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                        <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                        <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                        <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                      </li>
                      <li class=" border-bottom border-1 border-dark-subtle  d-flex justify-content-between pt-1 ">
                        <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                        <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                        <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                        <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                      </li>
                      <li class="  d-flex justify-content-between pt-1 ">
                        <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                        <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                        <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                        <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                      </li>

                    </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4  ">
                  <div class="card rounded rounded-3 bg-main border-0 ">

                    <div class="card-body">
                      <h5 class="card-title">top scorer</h5>
                    </div>

                      <div class="bg-main  p-4  rounded rounded-3">
                        <ul class="p-0 m-0  rounded rounded-3 ">

                        <li class=" border-bottom border-1 border-dark-subtle bg-transparent   d-flex justify-content-between">
                          <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                          <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                          <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                          <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                        </li>
                        <li class=" border-bottom border-1 border-dark-subtle  d-flex justify-content-between pt-1 ">
                          <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                          <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                          <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                          <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                        </li>
                        <li class="  d-flex justify-content-between pt-1 ">
                          <div class=""><div class="d-flex justify-content-between"><img src="assets/images/blog-1.png" style="width: 45px;height: 45px;" alt="" class="border rounded-circle me-3">
                          <div class="d-flex flex-column justify-content-between"><a href="" class="fw-bolder link-dark text-decoration-none">Mohamed Salah</a>
                          <a href="" class="link-dark text-decoration-none">liverfoul</a></div></div></div>
                          <div class="bg-danger my-2 p-1 rounded-circle">25</div>
                        </li>

                      </ul>
                      </div>
                    </div>
                  </div>



  </div>
</div>
