<header class="fixed-top" id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <h1><a class="navbar-brand navbar-logo" routerLink="Home">SOCCER IQ</a></h1>

          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto px-4 "id="logstutes">

                      <li class="nav-item">
                                               <a class="nav-link active" routerLink="Home" routerLinkActive="active h-100" >Home</a>
                                           </li>
                                          <li class="nav-item">
                                               <a class="nav-link" routerLink="news" routerLinkActive="active">News</a>
                                           </li>
                                          <li class="nav-item">
                                               <a class="nav-link" routerLink="club" routerLinkActive="active" >Club</a>
                                           </li>
                                           <li class="nav-item">
                                               <a class="nav-link" routerLink="League/Scoreboard" routerLinkActive="active" >League</a>
                                          </li>
                                          <li class="nav-item">
                                              <a class="nav-link"  routerLink="playerStates" routerLinkActive="active">PlayerStates</a>
                                          </li>

                                              <li class="nav-item">
                                              <a class="nav-link" routerLink="login" routerLinkActive="active"  > Login </a>
                                          </li>
                                          <li class="nav-item">
                                             <a class="nav-link" routerLink="Register" routerLinkActive="active" > Register </a>
                                          </li>

              </ul>

          </div>
      </div>
  </nav>
</header>
